
section{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; 
    width: 100%     
}

.wallpaper{  
    height: 100vh;
    background-image: url('/src/assets/images/yasuo.jpg');
    background-position: center;
    background-size: cover;        
}

.vector{
    position: absolute;
    top: 40px;
    left: 28%;
    width:46px;
    height: 46px;
}

.button-image{
    border: none;
    cursor: pointer;
}

.tooltip .tooltiptext{ 
    font-family: Lexend Deca, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 5px;
    left: 30.5%;
    background-color: #F9F9F9;
    padding: 37px;  
    width: 380px;
    height: 250px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    visibility: hidden;       
} 

.tooltip:hover .tooltiptext{
    visibility: visible;
}

.tooltip .tooltiptext::after{
    content: '';
    position: absolute;
    top: 18%;
    left: 50%;
    margin-left: -215px;
    
    border-width: 13px;
    border-style: solid;
    border-color: transparent #F9F9F9 transparent transparent;
}

.titulo{ 
    font-size: 20px;
    font-weight: 500;
}

.content-data{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
    color: #919191;
    margin: 10px 0;
    font-weight: 600;
}

.text-info{
    font-size: 14px; 
}

a {
    text-decoration: none;
}

.detalhes{
    color:#B2B2B2;
    padding-top: 40px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;    
}

.detalhes:hover{
    color: #b2b2b2ca;
}

@media (max-width: 1440px){
   .vector{
    left: 28%;
   } 
}

@media (max-width: 1330px) {
    .vector{
        left: 32%;
    } 
}
@media (max-width: 1140px) {
    .vector{
        left: 38%;
    }
}

@media (max-width: 840px) {
    .vector{
        display: none;
    }
}
@media (max-width: 553px) {
    .tooltip .tooltiptext{
       display: none;
    }
} 