section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.wallpaper{
    width: 80vw;
    height: 100vh;
    
}

.vector{
    position: absolute;
    top: 20px;
    left: 22%;
    width:46px;
    height: 46px;
}