.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    text-align: center;
    width: 113px;
    height: 64px;
    
}

.title-login{
    font-family: 'Lexend Deca', sans-serif;
    font-style: Regular;
    font-size: 20px;
    text-align: center;
    color: #000;
    padding-top: 62px;
    padding-bottom: 26px;
}