.botao{
    width: 62px;
    height: 28px;
    border: none;
    margin-top: 28px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 12px;
}

.icons_botao{
    padding: 5px;
    border-radius: 4px;
}
.botao .icons_botao:nth-child(1):hover{
    background-color: rgba(211, 211, 211, 0.415); 
}