.section-login{
    width: 500px;
    background-color: #F9F9F9;   
}

@media (max-width: 740px) {
     .section-login{
       min-width: 350px;
    } 
    
}  

@media (max-width: 460px) {
    .section-login{
       min-width: 100%;
    } 
}  

