.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    color: #B4B4B4;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    text-transform: uppercase;  
}

.informacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.versao{
    padding-left: 70%;
}

.criar-conta{
    color: #B4B4B4;
}

.criar-conta:hover{
    color: #b2b2b2af;
}