.borda-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 140px auto;
    width: 60px;
    height: 60px;
    border: 2px solid #ECECEC;
    border-radius: 15px;
    background-color: #F9F9F9;
    cursor: pointer;
}