.borda-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto; 

    width: 60px;
    height: 60px;
    border: 2px solid #ECECEC;
    border-radius: 15px;
    background-color: #F9F9F9;
    cursor: pointer;
}
 

.btn__desative{
    background-color: #F9F9F9;
  }
  
.btn__ative {
    background-color: #D13133;
}